body {
  background: url("../img/bg.png") repeat #f1f1f1;
  color: #333;
  font-size: 14px; }

.wrap {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }

#header {
  border-bottom: 1px solid #eee; }
  #header h1 {
    color: #f00; }

#contents {
  padding: 60px 0; }

#footer {
  border-top: 1px solid #eee; }
  #footer small.copy {
    font-size: 12px;
    line-height: 150px; }
