$color: #f1f1f1;

body {
  background: url('../img/bg.png') repeat $color;
  color: #333;
  font-size: 14px;
}

.wrap {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

#header {
  border-bottom: 1px solid #eee;

  h1 {color: #f00;}
} // end #header


#contents {
  padding: 60px 0;
} // end #contents


#footer {
  border-top: 1px solid #eee;

  small.copy {
    font-size: 12px;
    line-height: 150px;
	}
} // end #footer
